*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #dcdbdb;
}
a{
    text-decoration: none;
    color: black;
    transition: .4s;
}
a:hover{
    opacity: .7;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 34px;
    padding: 25px 10px;
}

.content_zone{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 35px;
    align-content: center;
}

.login_registration_form{
    width: 350px;
    margin: 0 auto;
    padding: 35px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.header_form{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    margin-bottom: 25px;
}

.input_form{
    border: none;
    border-bottom: 1px solid black;
    padding: 3px 5px;
    margin: 5px 0;
    width: 280px;
    height: 53px;
    font-size: 15px;
}

.input_form:focus{
    outline: none;
    border-bottom-color: #6fa48e;
}

.enter_button{
  align-items: center;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 15px;
  font-weight: 400;
  justify-content: center;
  line-height: 1;
  margin: 35px 0 20px;
  outline: none;
  padding: 13px 22px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.enter_button:hover {
  box-shadow: #6fa48e 0 0 0 3px, transparent 0 0 0 0;
}

.registration_a{
    margin: 45px 0;
    font-family: 'Montserrat', sans-serif;
}

.menu_zone{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 45px;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
}

.menu_zone a{
    border-bottom: 1px solid black;
    padding: 3px 2px;
    width: 60%;
    margin: 5px auto;
}

#button_a{
    border-bottom: none;

    width: 30%;
    margin: 0 auto 15px;
}

.title_block{
    margin: 0 auto;
    width: 30%;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #6fa48e;
    padding: 4px 10px;
}

.list_zone{
    margin: 0 auto;
    width: 65%;
    padding: 35px;
    display: flex;
    flex-direction: column;
}

.preview_string{
    border: 1px solid black;
    padding: 8px 35px;
    width: 75%;
    margin: 0 auto;
    font-size: 20px;
}

#preview_patient{
    width: 90%;
}

table {
   border-collapse: collapse;
   /*убираем пустые промежутки между ячейками*/
   border: 2px solid black;
    padding: 10px;
    font-size: 18px;
   /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}

th {
   border: 1px solid black;
    padding: 5px;
}

td {
   border: 1px solid black;
    padding: 5px;
}

.about_user_zone{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 25px;
    border-bottom: 1px solid black;
    font-size: 18px;
}

.about_user_zone a{
    color: #6fa48e;
    border: 1px solid black;
    width: 120px;
    padding: 3px 5px;
    margin: 15px auto 2px;
}

#free_reservation{
    color: #6fa48e;
    font-weight: bold;
    font-size: 25px;
}



.work_schedules_form input{
    width: 15%;
    padding: 0;
    font-size: 14px;
    margin: 0 15px;
}

.title_block{
    margin: 25px auto 5px;
}

#add_diagnosis_from{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search{
    width: 35%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;

}

.search input{
    height: 20px;
    padding: 5px;
    margin-right: 5px;
    font-size: 17px;
}

.search_button{
    width: 46px;
    height: 25px;
    align-items: center;
    margin: 0 auto;
    border: none;
    transition: .4s;
    padding: 3px;
}

.search_button:hover {
  box-shadow: #6fa48e 0 0 0 3px, transparent 0 0 0 0;
}

.finder_patient{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.patient_string_find{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 95%;
    margin: 5px;
    padding: 3px;
}

#find_zone{
    width: 70%;
}

.search{
    padding: 15px;
}