<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Registration</title>
</head>
<body>
    <header>
        <a href="http://127.0.0.1:5000/" id="logo">POLYCLINIC</a>
    </header>

    <div class="content_zone">
        <form class="login_registration_form" id="finder_zone" method="POST" action="http://127.0.0.1:5000/add_reservation/{{ doctor_id }}/{{ date_id }}">
            <div class="header_form">Reservation</div>
            <input class="input_form" id="find_patient_input" type="text" name="full_name" placeholder="Full name">
            <div class="finder_patient">

            </div>
            <button class="enter_button">Enter</button>
            {% if message %}
                <div class="message">{{ message }}</div>
                <a id="button_a" href="http://127.0.0.1:5000/add_patient">Add patient</a>
            {% endif %}
        </form>



        {% if patient_find %}
            <form>
                <table>
                    <tr><th>Id</th><th>Full name</th><th>Date of birth</th><th>Address</th></tr>
                    {% for elem in patient_find %}
                        <tr> <td><input type="checkbox" name="diagnosis_check" value="{{ elem['id'] }}"> </td> <td><a href="http://127.0.0.1:5000/patient/{{ elem['id'] }}"> {{ elem['full_name'] }} </a></td> <td>{{ elem['date_of_birth'] }}</td> </tr>
                {% endfor %}
                </table>
                <button class="enter_button">Enter</button>
            </form>
        {% endif %}


    </div>
    <script src="/static/js/jquery-3.0.0.min.js"></script>
<script src="/static/js/js.js"></script>
</body>
</html>