<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Diagnoses</title>
</head>
<body>
    <header>
        <a href="http://127.0.0.1:5000/" id="logo">POLYCLINIC</a>
    </header>

    <div class="content_zone">
        <div class="title_block">DIAGNOSES</div>

        <div class="list_zone">
        <form class="search" method="POST" action="http://127.0.0.1:5000/diagnoses/search">
            <input class="input_form" type="text" name="diagnosis" placeholder="Search...">
            <button class="search_button">Enter</button>
        </form>
            <a id="button_a" href="http://127.0.0.1:5000/add_diagnosis"><button class="enter_button">Add diagnosis</button></a>
             {% if diagnosis %}
                <table>
                    <tr><th>Id</th><th>Diagnosis</th><th>Description</th></tr>
                        <tr> <td>{{ diagnosis['id'] }}</td> <td>{{ diagnosis['diagnosis'] }} </td> <td>{{ diagnosis['description'] }}</td> <td><a href="http://127.0.0.1:5000/diagnosis/{{ diagnosis['id'] }}/edit">Edit</a></td> <td><a href="http://127.0.0.1:5000/diagnosis/{{ diagnosis['id'] }}/delete">Delete</a></td> </tr>
                </table>
            {% elif message_search %} <div class="message_search">Not Found</div>

            {% endif %}
            {% if list_diagnosis %}
                <table>
                    <tr><th>Id</th><th>Diagnosis</th><th>Description</th><th>Number of cases</th></tr>
                    {% for elem in list_diagnosis %}
                        <tr> <td>{{ elem['id'] }}</td> <td>{{ elem['diagnosis'] }} </td> <td>{{ elem['description'] }}</td> <td>{{ elem['count'] }}</td> <td><a href="http://127.0.0.1:5000/diagnosis/{{ elem['id'] }}/edit">Edit</a></td> <td><a href="http://127.0.0.1:5000/diagnosis/{{ elem['id'] }}/delete">Delete</a></td> </tr>
                {% endfor %}
                </table>
            {% elif message %} <div class="message">Not Found</div>

            {% endif %}
        </div>
    </div>
</body>
</html>