<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Doctor</title>
</head>
<body>
    <header>
        <a href="http://127.0.0.1:5000/" id="logo">POLYCLINIC</a>
    </header>

    <div class="content_zone">
        <div class="about_user_zone">
            <p>Full name: {{ doctor['full_name'] }}</p>
            <p>Specialization: {{ doctor['specialization'] }}</p>
            <p>Experience: {{ doctor['experience'] }}</p>
            <a href="http://127.0.0.1:5000/change_info_{{ doctor['id'] }}">Change info</a>
        </div>
        <div class="menu_zone">
            <a href="http://127.0.0.1:5000/appointments/{{ doctor['id'] }}">Appointments</a>
            <a href="http://127.0.0.1:5000/work_schedule/{{ doctor['id'] }}">Work schedule</a>
            {% if current_id == doctor['user_id'] %}
                <a id="button_a" href="http://127.0.0.1:5000/logout"><button class="enter_button">Logout</button></a>
            {% endif %}
        </div>
    </div>
</body>
</html>