<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Patients</title>
</head>
<body>
    <header>
        <a href="http://127.0.0.1:5000/" id="logo">POLYCLINIC</a>
    </header>

    <div class="content_zone">
        <div class="title_block">PATIENTS</div>

    <form class = "search" method="POST" action="http://127.0.0.1:5000/patient/search">
            <input class="input_form" id="find_patient_input" type="text" name="full_name" placeholder="Search">
    </form>

        <div class="list_zone">
        {% if role == "admin" %}
            <a id="button_a" href="http://127.0.0.1:5000/add_patient"><button class="enter_button">Add patient</button></a>
        {% endif %}
            {% if list_patients %}
                <table>
                    <tr><th>Id</th><th>Full name</th><th>Date of birth</th><th>Address</th></tr>
                    {% for elem in list_patients %}
                        <tr> <td>{{ elem['id'] }}.</td> <td><a href="http://127.0.0.1:5000/patient/{{ elem['id'] }}"> {{ elem['full_name'] }} </a></td> <td>{{ elem['date_of_birth'] }}</td> <td>{{ elem['address'] }}</td> <td> <a href="http://127.0.0.1:5000/patient/edit/{{ elem['id'] }}">Edit</a> </td></tr>
                {% endfor %}
                </table>
            {% else %} <div class="message">Not Found</div>
            {% endif %}
        </div>
    </div>
    <script src="/static/js/jquery-3.0.0.min.js"></script>
<script src="/static/js/js.js"></script>
</body>
</html>